.Header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Header>h1 {
	margin: 0;
}
.Header > span{
    align-self: flex-end;
    margin-right: 0;
}
.Header > a{
    align-self: flex-end;
}
