.card {
    min-width:30vw;
    overflow: auto;
    max-width: 80vw;
    max-height: 600px;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 70px 4fr 2fr;
    justify-items: center;
    align-items: center;
    gap:1em;
}

.card .card-title, .card .card-footer {
    grid-column: span 2;
}

.card .card-title {

    grid-area: 1/1;
}

.card>.fav-icon {
    width: 50px;
    height: 50px;
    grid-area: 1/2;
    margin-top: 10px;
    margin-right: 10px;
}

.card>.details-icon {
    grid-area: 3/2;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card>.follower-counter {
    grid-area: 2/2;
    margin-bottom: 10px;
    margin-right: 20px;
}

.card>.card-footer {
    grid-area: 3/1;
    height: 80%;
}

.card>img {
    grid-row: 2/3;
    width: 70%;
}