.VacationDetails {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VacationDetails>.details-card {
    width: 60vw;
    max-height: 90%;
    overflow: auto;
    display: grid;
    grid-template-rows: 70px 1fr 3fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.details-card>.description {
    font-size: 1rem !important;
    line-height: 1.2rem !important;
    font-weight: bold !important;
    width: 70%;
}
.details-card > .card-tile{
    color: #0C2D48;
}

.card-footer>* {
    color: #0C2D48;
    font-size: 1.1rem !important;
    font-weight: bold !important;
}

.details-card {
    background: #CFF6FF !important;
    box-shadow: 0px 0px 13px 1px #74BBDE !important;
    transition: border 0.6s linear 0s, border-radius 0.6s linear 0s, box-shadow 0.6s ease 0s !important;
}

.details-card:hover {
    box-shadow: 0px 0px 27px 2px #81A6EB !important;
    transition: border 0.6s linear 0s, border-radius 0.6s linear 0s, box-shadow 0.6s ease 0s;
}

.VacationDetails>.return-link {
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #0C2D48;
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    background-color:#5885AF;
}
.VacationDetails>.return-link:hover {

    background-color:#81A6EB;
}

.card-image{
    width: 60%;
    height: 90%;
}
@media screen  and (max-width:680px){
    .VacationDetails>.details-card{
        width:90vw;
        height:80%;
        margin-top:50px !important;
        border-radius:0px;
    }
    .VacationDetails>.return-link {
        left: 20px;
        top: 20px;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 10px;
    }
    .card-image{
        width: 90%;
        height: 90%;
    }
}