.user-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px 1fr 80px;
}

.user-layout, .user-layout>* {
    border: 1px solid black;
}

main, header, footer {
    grid-column: span 6;
}

.guest-layout {
    height: 100vh;
}