.user-layout {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 1fr 80px;

}



main, header, footer {
    grid-column: span 6;
}

main {
    background-image: url("../../../assets/images/bg.jpg");
    background-size: cover;
    overflow: auto;
}

.guest-layout {
    height: 100vh;
}