.Footer {
    text-align: center;
    font-weight: bolder;
    width: auto;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    background: #039BE5;
    background: radial-gradient(circle, #039BE5 27%, #0288D1 64%);
}

.Footer>.social-media-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.logo {
    cursor: pointer;
}

.logo>svg {
    font-size: 1.76rem !important;
}

.linkedin-logo {
    color: #2962FF;
}

.instagram-logo {
    color: #c32aa3;
}

.github-logo {
    color: black;
}